In [ ]:
import pandas as pd
import numpy as np
### Load the dataset
# The dataset is a CSV file containing car prices and their features.
path = r"C:\Users\Acer\Downloads\car\car_prices.csv"
df = pd.read_csv(path)

In [6]:
##Overview of the dataset
# Display the first 3 rows of the dataset to understand its structure and contents.
df.head(3)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)

In [7]:
##Checking for null values
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [8]:
##Initial Size
df.shape

(558837, 16)

In [11]:
##Size after dropping null values
df.dropna(inplace=True)
print(df.shape)

(472325, 16)

In [12]:
##Checking for null values again
df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   make          472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  float64
 14  sellingprice  472325 non-null  float64
 15  saledate      472325 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 61.3+ MB

In [16]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,472325.000000,472325.000000,472325.000000,472325.000000,472325.000000
mean,2010.210980,30.774177,66701.732040,13837.058964,13690.512058
std,3.822151,13.286866,51939.586894,9532.229273,9613.033738
min,1990.000000,1.000000,1.000000,25.000000,1.000000
25%,2008.000000,24.000000,28137.000000,7425.000000,7200.000000
50%,2012.000000,35.000000,51085.000000,12300.000000,12200.000000
75%,2013.000000,41.000000,96590.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [17]:
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {len(duplicate_rows)}")

Number of duplicate rows: 0

In [20]:
# Standardize text values of make and model
df['make'] = df['make'].str.strip().str.title()
df['model'] = df['model'].str.strip().str.title()

# Check unique values after standardization
print("Unique makes after standardization:")
print(df['make'].unique())
print("\nSample of models after standardization:")
print(df['model'].unique()[:50])  # Show first 10 unique models

Unique makes after standardization:
['Kia' 'Bmw' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Cadillac' 'Acura'
 'Lexus' 'Hyundai' 'Buick' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'Mini' 'Land Rover' 'Lincoln' 'Jaguar' 'Volkswagen' 'Toyota'
 'Subaru' 'Scion' 'Porsche' 'Dodge' 'Fiat' 'Chrysler' 'Ferrari' 'Honda'
 'Gmc' 'Ram' 'Smart' 'Bentley' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'Hummer' 'Saab' 'Suzuki' 'Oldsmobile' 'Rolls-Royce' 'Isuzu' 'Plymouth'
 'Tesla' 'Aston Martin' 'Geo' 'Fisker' 'Daewoo' 'Lamborghini' 'Lotus']

Sample of models after standardization:
['Sorento' '3 Series' 'S60' '6 Series Gran Coupe' 'Altima' 'M5' 'Cruze'
 'A4' 'Camaro' 'A6' 'Optima' 'Fusion' 'Q5' '6 Series' 'Impala' '5 Series'
 'A3' 'Xc70' 'Sq5' 'S5' 'Suburban' 'Elr' 'V60' 'X6' 'Ilx' 'K900' 'Malibu'
 'Rx 350' 'Versa' 'Elantra' 'Versa Note' 'A8' 'X1' 'Enclave' 'Tts'
 '4 Series' 'Mdx' 'Silverado 1500' 'Srx' 'X5' 'G Coupe' 'G Sedan' 'Fx'
 'Santa Fe' 'Genesis' 'Equus' 'Sonata' 'Sonata Hybrid' 'Accent' 'Veloster']

In [21]:
# Convert 'year' to datetime
df['year'] = pd.to_datetime(df['year'], format='%Y')

# Extract year as integer if needed for analysis
df['year_int'] = df['year'].dt.year

# Display the result
print(df[['year', 'year_int']].head())

        year  year_int
0 2015-01-01      2015
1 2015-01-01      2015
2 2014-01-01      2014
3 2015-01-01      2015
4 2014-01-01      2014